# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
hop-venv/
venv/
env/
.venv/

# Environment Variables (Sensitive)
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDE Specify
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db

# Project Specific
gcn-schema/
